{% extends "layout.html" %}

{% block content %}
<h1>Ticket Priority Update</h1>
<p>Hello,</p>
<p><strong>{{ actor_name }}</strong> has changed the priority of Ticket <strong>#{{ ticket.id }}</strong> to <strong>{{ new_priority }}</strong>.</p>

<table class="data-table">
    <tr>
        <th>Ticket ID</th>
        <td>#{{ ticket.id }}</td>
    </tr>
    <tr>
        <th>Title</th>
        <td>{{ ticket.title }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>{{ ticket.status.value }}</td>
    </tr>
    <tr>
        <th>Priority</th>
        <td>{{ new_priority }}</td>
    </tr>
</table>

<div class="button-wrap">
    <a href="{{ theme.WORKSPACE_URL }}/tickets/{{ ticket.id }}" class="button" style="background-color: {{ theme.ACCENT_COLOR }};">View Ticket</a>
</div>
{% endblock %}
